.nav {
  width: 600px;
  height: 40px;
  background: #f1f1f1;
  margin: 0 auto;
  box-shadow: 0 2px 5px 1px #ccc;
}
.fir-nav>li {
  display: inline-block;
  vertical-align: top;
}
a {
  color: #000;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
}
a:hover {
  background: #ccc;
}
.sec:hover .sec-nav{
  display: block;
}
.sec-nav {
  display: none;
  list-style: none;
  padding: 0 0;
  margin-top: -1px;
  background: #fff;
  box-shadow: 0 2px 5px 1px #ccc;
}
.sec-nav>li a{
  width: 100px;
  padding: 10px 15px; 
}